@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #001529;
  border: 0px solid #001529;
}

.ant-menu-horizontal > .ant-menu-item a {
  text-decoration: none;
  color: white;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}